[Unit]
Description=Webcv Docker Starter
After=network.target docker.socket docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/local/bin/docker-compose -f /home/docka/cv/docker-compose.yml down -v
ExecStart=/usr/local/bin/docker-compose    -f /home/docka/cv/docker-compose.yml up --build
ExecStop=/usr/local/bin/docker-compose     -f /home/docka/cv/docker-compose.yml down -v

[Install]
WantedBy=multi-user.target
