body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color:#222;
  font-family:sans-serif;
  font-size:13px;
}

p, ul, span {
  font-family: 'PT Sans', sans-serif;
  color: #222;
}

p {
  line-height:1.4em;
}

h1, h2, h3 {
  font-weight:400;
  font-family: 'Ubuntu', serif;
}

h3 {
  font-size: 1.05rem;
}

h4, h5, h6 {
  font-weight:400;
}

#paper {
  width:21cm;
  margin:1cm auto;
  background-color:#eee;
  box-shadow: 5px 5px 20px rgba(20,20,20,0.5);
}

#wrapper {
  margin: 0 2cm;
  padding: 1cm 0 1cm 0;
}

#wrapper > header img {
  float:left;
  padding-top:2rem;
  height:250px;
}

#wrapper > header section {
  float:left;
  margin:0 2.8rem;
}

#wrapper > header section h3{
  margin-top:2rem;
}

#wrapper > header section p {
  display:block;
  width: 100%;
}

#tekniker {
  margin-bottom:1rem;
}

#tekniker section {
  width:33%;
}

#tekniker header h2 {
  margin-top:1em;
}

#tekniker section ul {
  padding:0 1rem 0;
  margin-bottom: 0;
}

#anst h2 {
  margin-top:0;
}

#wrapper section > p {
  display:inline-block;
  width: 82%;
}

.right { float:right; }
.left { float:left; }
.clear { clear:both; }

.widthFix {
  width:6em;
}

hr {
  border:0 solid #aaa;
  border-top-width: 1px;
  margin: 2rem auto 3rem;
  width: 50%;
  clear:both;
}

h3 {
  margin-bottom:-10px;
}

h3 .right {
  font-weight:400;
  padding:0 1em 0 0 ;
}

h2 {
  margin:2rem 0 -0.5rem 0;
}

#paper h1 {
  margin:0;
}

@media screen and (max-width: 760px) {
  body {
    background-image: none;
    background: #222;
  }

  section div.right {
    display:none;
  }

  #wrapper {
    margin:0 1rem;
  }

  #wrapper section > p {
    width:100%;
  }

  #wrapper header section > p{
    float:none;
  }

  #paper {
    width: 100%;
    margin-top:0;
    margin-bottom:0;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    text-align: center;
  }

  #wrapper > header img, #wrapper > header section {
    display: block;
    margin:0 auto;
    text-align:center;
    float:none;
  }

  #tekniker {
    margin-top: 4rem;
  }

  #tekniker section {
    /* display: block; */
    /* width:75%; */
    margin: 1rem;
    width: calc(50% - 2rem);
    min-width: 8rem;
    margin-bottom:1rem;
  }

  #tekniker ul {
    margin: 1.2rem 0.4rem;
    font-size: 1.2em;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  body {
    background-image: none;
    background-color: white;
    margin: 0mm 10mm 10mm 10mm;
  }

  html {
    background-color: #FFFFFF;
    margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  #paper {
    box-shadow:none;
    background-color: white;
  }

  #wrapper {
    padding: 0;
  }

  #tekniker header h2 {
    display: none;
  }

  section h3 {
    margin-top:0.7rem;
  }

  section, #utbildningar, #ovrigt {
    page-break-inside:avoid;
  }

  /* #utbildningar, #ovrigt { */
  /*   page-break-before:always; */
  /* } */
  /*  */
  /* #anst section:nth-of-type(4), #ovrigt section:nth-of-type(2){ */
  /*   margin-top: 3rem; */
  /*   page-break-before:always; */
  /* } */

  hr {
    margin: 1rem auto;
  }

  footer {
    /* padding-top:2em; */
  }
}

@page {
    margin: 20mm 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.email-user::after {
  content:"@";
}

.number::before {
  content:"+46";
}
